body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  width: 145px;
  height: 31px;
}
.logo-web {
  font-family: 'Raleway';
  font-weight: 700;
  color: #2196f3;
}

.nav-header {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  list-style: none;
}
.nav-header:hover,
.nav-header:focus {
  color: #2196f3;
}

.contact {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
}
.contact:hover,
.contact:focus {
  color: #2196f3;
}
